.todo-list {
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addtodo {
  padding: 5px 10px;
  border-bottom: 1px solid var(--thin-gray);
  font-size: 20px;

  list-style: none;
}

#add-form {
  display: inline;
  width: 100%;
}

#add-form > input {
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  font-size: 20px;
  outline: none;
}

.todo {
  padding: 5px 10px;
  border-bottom: 1px solid var(--thin-gray);
  font-size: 20px;

  list-style: none;
}

.no-todo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  padding: 5px 10px;

  color: var(--thin-gray);
  font-size: 30px;

  list-style: none;
}

.todo-checkbox {
  display: inline-block;
  transform: translateY(2px);
}

.checkbox-circle:hover {
  fill: var(--white);
  transition: all 0.1s;
}

.todo-url {
  color: var(--white);
  background-color: var(--thin-black);
  padding: 0 1px;
  margin: 0 2px;
  border-radius: 10px;
}

.todo-url:hover {
  color: var(--black);
  background-color: var(--white);
  transition: all 0.2s;
}
