.todo-list {
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  padding: 5px 10px;
  border-bottom: 1px solid var(--thin-gray);

  list-style: none;
}

.addtodo {
  padding: 5px 10px;
  border-bottom: 1px solid var(--thin-gray);

  list-style: none;
}
