{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
  households/create.html
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/households/create.css' %}">
{% endblock %}

{% block main %}
  <h1 class="text-3xl">Households/create.html</h1>

  <form action="" method="post" class="form mt-4">
    {% csrf_token %}

    <label for="category" class=" text-xl">{{ form.category.label }}</label>
    {% render_field form.category class="px-2 text-xl" %}

    <label for="cost" class="text-xl">{{ form.cost.label }}</label>
    {% render_field form.cost class="px-2 text-xl" %}

    <label for="description" class="text-xl">{{ form.description.label }}</label>
    {% render_field form.description class="px-2 text-xl" %}

    <label for="registered_at" class="text-xl">{{ form.registered_at.label }}</label>
    {% render_field form.registered_at class="px-2 text-xl" %}

    <input type="submit" value="Create"
           class="text-xl bg-slate-400 hover:bg-slate-700 hover:text-slate-100 px-2 rounded-md">
  </form>
{% endblock %}
