#header {
  background-color: dimgray;
  padding: 10px 20px;

  display: flex;
  align-items: baseline;
  gap: 20px;
}

#h1 {
  display: inline;
}

.turn {
  color: aliceblue;
  background-color: #1a1a1a;
  border-radius: 10px;
  font-size: 25px;
  padding: 0 8px;
}
