*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: grey;
}

#main {
  padding: 20px;
}

h1 {
  border-bottom: 2px solid #2a2a2a;
  margin-bottom: 30px;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  padding: 20px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form > label {
  font-size: 25px;
}

.form > input {
  background-color: #2a2a2a;
  color: aliceblue;

  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.form > .buttons {
  display: flex;
  gap: 20px;
}

.buttons > button {
  background-color: #2a2a2a;
  color: aliceblue;

  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.form > button:hover {
  background-color: black;
  transition: all 1s;
}
