html {
  background-color: grey;
}

body {
  padding: 30px 40px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
}

#input {
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#result {
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#buttons {
  display: flex;
  gap: 20px;
}

#buttons > button {
  font-size: 30px;
}
