{% extends 'base.html' %}

{% block title %}
  pages/index.html
{% endblock %}

{% block main %}
  <div class="px-4 py-1">
    <h1 class="text-3xl underline underline-offset-2">HouseHolds:index</h1>
  </div>

  <div class="flex flex-row content-center self-center">
    {# left #}
    <div class="p-4 text-xl">
      <h2 class="text-2xl bg-gray-400 px-2 rounded-md">The Current Month</h2>

      <table class="table-auto bg-slate-400 mt-3 rounded-md">
        <thead>
        <tr>
          <th class="px-4 py-2">Category</th>
          <th class="px-4 py-2">Cost</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Registered At</th>
          <th class="px-4 py-2">Created At</th>
        </tr>
        </thead>

        <tbody>
        {% for household in households %}
          <tr>
            <td class="px-4 py-2 font-medium">{{ household.category }}</td>
            <td class="px-4 py-2 font-medium">{{ household.cost }}</td>
            <td class="px-4 py-2 font-medium">{{ household.description }}</td>
            <td class="px-4 py-2 font-medium">{{ household.registered_at }}</td>
            <td class="px-4 py-2 font-medium">{{ household.created_at }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="pagination mt-4">
        <span class="step-links px-2 py-1 rounded-md">
          {% if page_obj.has_previous %}
            <a href="?page=1" class="p-1 bg-slate-400 rounded-md">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="p-1 bg-slate-300 rounded-md">previous</a>
          {% endif %}

          <span class="current font-bold px-3">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="p-1 bg-slate-300 rounded-md">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="p-1 bg-slate-400 rounded-md">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>

    {# right #}
    <div class="p-4">
      <h2 class="text-2xl bg-gray-400 px-2 rounded-md">Aggregations</h2>

      <div class="text-xl mt-3 rounded-md">
        <h3>Total Cost</h3>

        <table class="table-auto bg-slate-400 mt-3 rounded-md">
          <thead>
          {% for aggregate in household_aggregates %}
            <tr>
              <th class="px-2 py-1">{{ aggregate.category__name }}</th>
              <td class="px-2 py-1">{{ aggregate.total_cost }}</td>
            </tr>
          {% endfor %}
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
