*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  min-width: 600px;
  max-width: 650px;
  min-height: 530px;

  background-color: var(--thin-gray);
}
